[submodule "meta-rwt-carbon808"]
	path = meta-rwt-carbon808
	url = https://github.com/redwiretechnologies/meta-rwt-carbon808.git
	branch = kirkstone
[submodule "meta-rwt-carbon808-carp"]
	path = meta-rwt-carbon808-carp
	url = https://github.com/redwiretechnologies/meta-rwt-carbon808-carp.git
	branch = kirkstone
[submodule "meta-rwt-common"]
	path = meta-rwt-common
	url = https://github.com/redwiretechnologies/meta-rwt-common.git
	branch = kirkstone
[submodule "meta-adi"]
	path = meta-adi
	url = https://github.com/redwiretechnologies/meta-adi.git
	branch = kirkstone
[submodule "meta-sdr"]
	path = meta-sdr
	url = https://github.com/redwiretechnologies/meta-sdr.git
	branch = kirkstone
[submodule "meta-xilinx-tools"]
	path = meta-xilinx-tools
	url = https://github.com/redwiretechnologies/meta-xilinx-tools.git
	branch = kirkstone
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/redwiretechnologies/meta-xilinx.git
	branch = kirkstone
